<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

	<link rel="stylesheet" type="text/css" href="intro.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <script src="/web3.min.js"></script>

</head>
<body>
	<section class="heading">
		<h2>Financial Privacy Protection Using Blockchain</h2>
	</section>
	<section class="info flex">
		<div class="project info-1">
			<ul type="disc">
				<li><a href="/index">Input your Information</a></li>
				<li><a href="/result">View your Information</a></li>
			</ul>
		</div>
		<div class="names info-2">
			<ul type="disc">
				<li>Mentor: Dr. Charu Gandhi </li>
			</ul>
			<br> Team members: <br>
			<ul type="disc">
				<li>Parshvi Rathee - 9917103044</li>
				<li>Somil Gupta - 9917103054</li>
				<li>Yash Khare - 9917103060</li>
			</ul>
		</div>
	</section>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script>
        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }
        web3.eth.defaultAccount = web3.eth.accounts[0];
        var CoursetroContract = web3.eth.contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "get",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_fName",
				"type": "string"
			},
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "setInstructor",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getInstructor",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]);
    var Coursetro = CoursetroContract.at('0x6C9D6C02ed9cFFCed1197A0A50636B771437EA18');
    console.log(Coursetro);
    
    </script> -->

</body>
</html>