

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="login_verify.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    
    <title>Mobile Number Detail</title>
</head>
<body>
    <section class="heading">
		<h2>Financial Privacy Protection Using Blockchain</h2>
	</section>
    <section class="main">
        <p><b>Please enter the mobile number whose information you wish to view or insert/update</b></p>
        <form action="/otp" name="userinput" method="POST">
            <input type="number" name="otp"/>
            <button aria-placeholder="Submit">Submit</button>
        </form>
        <p class="note"><b>This mobile number will receive an OTP for verfication purposes</b></p>
            </section>
    
</body>
</html>