<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View your info</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="main.css">

    <script src="/web3.min.js"></script>

</head>
<body>
    <div class="container">

        <h1><font color="white">User Details</font></h1>

        <h2 id="instructor"></h2>
        
        


    </div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	
	<script> var mob = "<%=mobile%>";</script>

    <script>
        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }
        web3.eth.defaultAccount = web3.eth.accounts[0];
        var CoursetroContract = web3.eth.contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			}
		],
		"name": "fetchInfo",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_id",
				"type": "uint256"
			},
			{
				"name": "_name",
				"type": "string"
			},
			{
				"name": "_code",
				"type": "uint256"
			}
		],
		"name": "setInfo",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getInfo",
		"outputs": [
			{
				"name": "",
				"type": "uint256"
			},
			{
				"name": "",
				"type": "string"
			},
			{
				"name": "",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]);
    var Coursetro = CoursetroContract.at('0x77D0d5f0c22F329169df22942d4e6B8A7BB3aE18');
	console.log(Coursetro);
	Coursetro.fetchInfo(mob);
    Coursetro.getInfo(function(error, result){
        if(!error)
            {
				if(result[1]==""){
					$("#instructor").html('User details not available.');
				}
				else{
				$("#instructor").html('Mobile: '+result[0]+
				'<br>Name is: '+result[1]+
				'<br>CIBIL code is: '+result[2]);
				console.log(result);
				}
            }
        else
            console.error(error);
    });
	console.log(mob);
	
    </script>

</body>
</html>