<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="login_verify.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <title>Verification</title>
</head>
<body>
    <section class="main">
        <p><b>Please enter the otp received</b></p>
        <form action="/verify" method="POST">
            <input type="number" name="verify"/>
            <button type="Submit">Submit</button>
        </form>
    </section>
</form>
</body>
</html>