body {
    background-color:#F0F0F0;
    padding: 4em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    background-image: linear-gradient(#002147e0, #002147e0), url("blockchain.png");
    background-size: cover;
    
}
.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
    background-color: #002147;
    height: 3em;
    text-decoration: none;
    border: 0;
    color: wheat;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 1rem;
    
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
    background-color: #a80202;
    border: 0;
  
    height: 3em;
    font-size: 1rem;
    color: white;
    -webkit-transition: 0.5s;
     transition: 0.5s;
}
#instructor {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}
button:hover {
    cursor: pointer;
    background-color: #0a87ee;
  }